@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>
<hr />

<h2>By Davi Henrique</h2>

<h4><a href="https://github.com/davisilvahenrique">Github</a></h4>
<h4><a href="https://www.linkedin.com/in/davisilvahenrique/">Linkedin</a></h4>

<hr />
<p>This project was developed during the course <a href="https://www.udemy.com/course/programacao-orientada-a-objetos-csharp/learn/lecture/6625198?start=0#overview">Object-Oriented Programming with C#</a> on Udemy. During the course, I learned the following:</p>

<ul>
    <li>Master Object-Oriented Programming and C# language</li>
    <li>Create flexible, extensible, and testable solutions</li>
    <li>Acquire a solid theoretical and practical foundation to become a successful C# developer</li>
    <li>Apply object-oriented knowledge to build solutions for real-world problems</li>
    <li>Understand UML class diagrams, both for entities and services</li>
</ul>

