@model WebSales.Models.Department

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Department</h4>
<hr />

<noscript>
    <div class="alert alert-danger">
        JavaScript is disabled in your browser. Please enable JavaScript to use this form.
    </div>
</noscript>

<div id="divMain" style="display: none;">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <hr />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-outline-success" />
                    <a asp-action="Index" class="btn btn-outline-light">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById("divMain").style.display = "block";
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
